
        <h1><i class="fa-solid fa-cloud-moon"></i>
            <% if (contact.FullName != undefined) { %>
                Edit
            <% } else { %>
                Add
            <% } %>
            Contact</h1>

        <div class="row justify-content-lg-center g-3">
            <form class="col-lg-6 col-md-10 col-sm-10" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text">Email address</span>
                    <input type="email" name="emailAddress" class="form-control" id="email-address" text="Email"
                           aria-describedby="Email Address Input" aria-label="Email Address" value="<%=contact.EmailAddress%>" Required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Full Name</span>
                    <input type="text" name="fullName" class="form-control" id="full-name" text="Full Name"
                           aria-describedby="Full Name Input" aria-label="Full Name" value="<%=contact.FullName%>" Required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Contact Number</span>
                    <input type="tel" name="contactNumber" class="form-control" id="contact-number" text="Contact Number"
                           aria-describedby="Contact Number Input" aria-label="Contact Number" value="<%=contact.ContactNumber%>" Required>
                </div>

                <button id="edit-button" type="submit" class="btn btn-primary">
                    <i class="fas fa-envelope fa-lg p-1"></i>
                    <% if (contact.FullName != undefined) { %>
                        Edit
                    <% } else { %>
                        Add
                    <% } %>
                </button>

                <a href="/contact-list" id="cancel-button" type="button" class="btn btn-primary">
                    <i class="fas fa-x fa-lg p-1"></i>Cancel
                </a>
            </form>
        </div>
